{% extends "base.html" %}
{% load static %}
{% block stylesheet %} {% static 'css/blog.css' %}{% endblock %}
{% block content %}
    
<div></div>
    <section class="main-row">
        <div class="row">
            <div class="col">
                <div class="img">
                    <img src="{% static 'assests/blog-pics/pic1.png' %}" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src={% static 'assests/blog-pics/tracey.png' %} alt=""></div>
                        <div> Tracey Wilson</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img" ><img src="pics/pic3.png" class="post-img" alt=""></div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/elzibat.png" alt=""></div>
                        <div> Elizabeth Salivin</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="pics/Rectangle 38.png" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/ernie.png" alt=""></div>
                        <div>Ernie Smith</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img">
                    <img src="pics/Rectangle 38 (1).png" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/tracey.png" alt=""></div>
                        <div> Tracey Wilson</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img" ><img src="pics/Rectangle 38 (2).png" class="post-img" alt=""></div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/elzibat.png" alt=""></div>
                        <div> Elizabeth Salivin</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="pics/Rectangle 38 (3).png" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/ernie.png" alt=""></div>
                        <div>Ernie Smith</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img">
                    <img src="pics/Rectangle 38 (4).png" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/tracey.png" alt=""></div>
                        <div> Tracey Wilson</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img" ><img src="pics/Rectangle 38 (5).png" class="post-img" alt=""></div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/elzibat.png" alt=""></div>
                        <div> Elizabeth Salivin</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="pics/Rectangle 38.png" class="post-img" alt="">
                </div>
                <div class="post-data">
                    <div class="tecnology">Technology</div>
                    <h3>The Impact of Tecnology on the Workplace:How Tecnology is Chaning</h3>
                    <div class="author">
                        <div><img src="pics/ernie.png" alt=""></div>
                        <div>Ernie Smith</div>
                        <time> August 20, 2022</time>
                    </div>
                </div>
            </div>
        </div>
    </section>
  



    <div class="fotter">
        <div class="frame1">
            <div class="news">Subscribe newsletter</div>
            <div class="mail">
                <input type="email" placeholder="Email address" class="eamil">
                <img src="./Assets/send-2.png">
            </div>
            <div class="call">
                <img src="./Assets/headphone.png">
                <div>
                    <div>Call us 24/7</div>
                    <div>(+92)3037709300</div>
                </div>
            </div>
        </div>
        <div class="frame2">
            <div class="frm1">
                <div class="logo"><img src="./Assets/logo-1 1.png" alt="" srcset=""></div>
                <div class="address">GM abad Faisalabad,Pakistan</div>
                <div class="link">
                    <a href="https://www.google.com/" target="_blank"> <img src="./Assets/google.png"></a>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="./Assets/facebook.png"></a>
                    <a href="https://web.whatsapp.com/"> <img src="./Assets/whatsapp.png"></a>
                </div>
            </div>
            <div class="frm2">

                <ul>
                    <div>Find Products</div>
                    <li><span>Chronograph blue</span></li>
                    <li><span>Brownze arnold</span></li>
                    <li><span>Smart phones</span></li>
                </ul>
            </div>
            <div class="frm2">

                <ul>
                    <div>Get Help</div>
                    <li><span>About Us</span></li>
                    <li><span>Contact Us</span></li>
                    <li><span>Return Policy</span></li>
                </ul>
            </div>
            <div class="frm2">

                <ul>
                    <div>About Us</div>
                    <li><span>News</span></li>
                    <li><span>Services</span></li>
                    <li><span>Our Policy</span></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

{% endblock %}
