<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <link rel="shortcut icon" href="./junatics//j-removebg-preview.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    </head>
</head>

<body>

    <div class="header">
        <div class="frame1">
            <img src="./Assets/logo 1.png" alt="">

            <div class="search">
                <form action="">
                    <input type="search" placeholder="Search Any Thing" class="bar">
                </form>
                <button>Search</button>
            </div>
        </div>
        <!-- Frame -->
        <div class="navmenu" id="show">
            <div class="frame2" id="navLinks">
                <i class="fa fa-times" aria-hidden="true" onclick="hide()"></i>
                <div class="icons">
                    <div><i class="fa-regular fa-user ic"></i></div>
                    <span><a href="#">Sign In</a></span>
                </div>
                <div class="icons">
                    <div><i class="fa-solid fa-cart-shopping ic"></i></div>
                    <span><a href="#">Cart</a></span>
                </div>
                <div class="icons">
                    <div><i class="fa-regular fa-heart ic"></i></div>
                    <span>Likes</span>
                </div>

            </div>
        </div>

        <i class="fa fa-bars" aria-hidden="true" onclick="show()"></i>
    </div>


    <!-- Navbar -->
    <div class="nav">
        <div>
            <button>Browse Categories</button>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li>Catalog</li>
                <li><a href="#">Blog</a></li>
                <li>Page</li>
                <li>About Us</li>
            </ul>
        </div>
        <div class="day">
            Free &nbsp; Delivery
        </div>
    </div>
    <div class="fotter">
        <div class="frame1">
            <div class="news">CEO: <i>Rehan Younas</i> </div>
            <div class="mail">
                <input type="email" placeholder="Email address" class="eamil">
                <img src="./Assets/send-2.png">
            </div>
            <div class="call">
                <img src="./Assets/headphone.png">
                <div>
                    <div>For IOT Projects</div>
                    <div>0322-3749902</div>
                </div>
            </div>
        </div>
        <div class="frame2">
            <div class="frm1">
                <div class="logo"><img src="./Assets/logo-1 1.png" alt="" srcset=""></div>
                <div class="address">GM abad Fsd Pakistan</div>
                <div class="link">
                    <a href="https://www.google.com/" target="_blank"> <img src="./Assets/google.png"></a>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="./Assets/facebook.png"></a>
                    <a href="https://web.whatsapp.com/" target="_blank"> <img src="./Assets/whatsapp.png"></a>
                </div>
            </div>
            <div class="frm2">

                <ul>
                    <div>Find Products</div>
                    <li><span>Brownze arnold</span></li>
                    <li><span>Smart phones</span></li>
                    <li><span>Automatic watch</span></li>
                </ul>
            </div>
            <div class="frm2">

                <ul>
                    <div>Get Help</div>
                    <li><span>About Us</span></li>
                    <li><span>Contact Us</span></li>
                    <li><span>Return Policy</span></li>
                </ul>
            </div>
            <div class="frm2">

                <ul>
                    <div>About Us</div>
                    <li><span>News</span></li>
                    <li><span>Services</span></li>
                    <li><span>Our Policy</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div style=" background-color: #E2F4FF; text-align: center; margin-top: 0px;">
        Made by Ch <i style="color: red;" class="fa-regular fa-heart"></i> Ihtasham</div>
    <script src="./script.js"></script>

</body>

</html>